.toggle-button {
    -fx-border-color: #2d2d2d;
    -fx-border-width: 1px;
    -fx-text-fill: #2d2d2d;
    -fx-background-color: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-alignment: center;
}

.toggle-button:selected {
    -fx-border-color: #2d2d2d;
    -fx-text-fill: #ffffff;
    -fx-background-color: #2d2d2d;
}

.toggle-button:pressed {
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #2d2d2d;
}

.list-view {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2d2d2d;
    -fx-font-size: 14px;
}

.list-view .list-cell {
    -fx-text-fill: #2d2d2d;
    -fx-background-color: #ffffff;
}

.list-view .list-cell:selected {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #ffffff;
}

.menu-bar {
    -fx-background-color: #ffffff;
    -fx-font-size: 16px;
    -fx-text-fill: #2d2d2d;
}

.menu {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2d2d2d;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-text-fill: #2d2d2d;
}


.context-menu {
    -fx-background-color: #ffffff;
    -fx-font-size: 16px;
    -fx-text-fill: #2d2d2d;
}

.slider {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.slider .thumb {
    -fx-background-color: #2d2d2d;
}

.slider .track {
    -fx-background-color: #d3d3d3;
}

.slider:pressed {
    -fx-text-fill: #2d2d2d;
}

.slider:focused {
    -fx-text-fill: #2d2d2d;
}

.vbox {
    -fx-background-color: #ffffff;
    -fx-spacing: 10;
}

.hbox {
    -fx-background-color: #f0f0f0;
    -fx-spacing: 10;
    -fx-alignment: center-left;
}

.hbox > * {
    -fx-margin-left: 20px;
}

.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2d2d2d;
    -fx-border-width: 0;
}

.hbox .buttonBox {
    -fx-hgap: 10px;
    -fx-alignment: center-right;
    -fx-hgrow: always;
}

.scroll-pane {
    -fx-background: #ffffff;
    -fx-border-color: #ffffff;
}

.scroll-pane .scroll-bar {
    -fx-background-color: #f0f0f0;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #2d2d2d;
    -fx-background-radius: 4;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-background-radius: 0;
    -fx-padding: 4;
}

.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 8;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-pref-height: 8;
}

.error-window {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

.error-textarea {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2d2d2d;
    -fx-font-size: 14px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-control-inner-background: #ffffff;
    -fx-border-color: #ffffff;
    -fx-overflow: transparent;
    -fx-resize: transparent;
}

.error-text {
    -fx-fill: #2d2d2d;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.error-textarea:focused {
    -fx-text-fill: #2d2d2d;
}

.close-button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2d2d2d;
    -fx-font-size: 16px;
    -fx-padding: 5px 15px;
}

.close-button:hover {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #ffffff;
}

.color-picker {
    -fx-background-color: #ffffff;
    -fx-font-size: 12px;
}

.combo-box {
    -fx-text-fill: #2d2d2d;
    -fx-background-color: #ffffff;
    -fx-font-size: 14px;
}

.titled-pane {
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-background-color: #ffffff;
}

.titled-pane .title {
    -fx-text-fill: #2d2d2d;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

.titled-pane .content {
    -fx-background-color: #ffffff;
    -fx-padding: 10px;
}

.titled-pane .collapsed {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.titled-pane .title .arrow {
    -fx-background-color: #2d2d2d;
}

.titled-pane .title .arrow:hover {
    -fx-background-color: #2d2d2d;
}

.titled-pane:focused {
    -fx-focus-color: transparent;
}

.toggle-switch {
    -fx-background-color: #ffffff;
    -fx-border-color: #2d2d2d;
    -fx-border-width: 2px;
}

.toggle-switch .thumb {
    -fx-background-color: #2d2d2d;
}

.toggle-switch:selected {
    -fx-background-color: #2d2d2d;
    -fx-thumb: #ffffff;
}

.tab-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #2d2d2d;
}

.tab-pane .tab-header-area {
    -fx-background-color: #f0f0f0;
}

.tab-pane .tab {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2d2d2d;
}

.tab-pane .tab:selected {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #ffffff;
}

.root {
    -fx-background-color: #ffffff;
}

.anchor-pane, .pane, .vbox, .hbox {
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: #ffffff;
    -fx-border-color: #2d2d2d;
}

.text-field {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #2d2d2d;
}

.list-view {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2d2d2d;
}

.list-view .list-cell {
    -fx-text-fill: #2d2d2d;
    -fx-background-color: #ffffff;
}

.list-view .list-cell:selected {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #ffffff;
}

.context-menu {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2d2d2d;
    -fx-font-size: 14px;
}

.context-menu .menu-item {
    -fx-background-color: transparent;
    -fx-text-fill: #2d2d2d;
    -fx-font-size: 14px;
}


.context-menu .menu-item:selected {
    -fx-background-color: #bdbdbd;
    -fx-text-fill: #ffffff;
}

#myStackPane {
    -fx-background-color: #f0f0f0;
}

#topMenuPane {
    -fx-background-color: #f0f0f0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, -3);
}

#bottomPane {
    -fx-background-color: #ffffff;
    -fx-border-color: #f0f0f0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

#sidePanel {
    -fx-background-color: #ffffff;
}

#sidePanel > VBox {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-spacing: 10;
}

#sidePanel > VBox Text {
    -fx-fill: #2d2d2d;
    -fx-font-size: 20.0;
}

#sidePanel > VBox HBox Text {
    -fx-fill: #000000;
    -fx-font-size: 12.0;
}

#sidePanel > VBox HBox TextField {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #2d2d2d;
}

#sidePanel > VBox Button {
    -fx-background-color: #ffffff;
    -fx-border-width: 0;
    -fx-text-fill: #2d2d2d;
    -fx-font-size: 18.0;
    -fx-underline: true;
}

#sidePanel > VBox RadioButton {
    -fx-text-fill: #2d2d2d;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-padding: 0;
    -fx-alignment: center-left;
    -fx-focus-color: transparent;
    -fx-border-width: 0;
    -fx-margin: 0;
}

#sidePanel > VBox #colorPicker {
    -fx-pref-height: 26.0;
    -fx-pref-width: 188.0;
}

#sidePanel > VBox #textureComboBox {
    -fx-pref-height: 30.0;
    -fx-pref-width: 187.0;
}

#sidePanel > VBox HBox {
    -fx-background-color: #ffffff;
    -fx-spacing: 10;
}

#camerasTitledPane {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2d2d2d;
}

#camerasTitledPane .title {
    -fx-text-fill: #2d2d2d;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 19px;
    -fx-padding: 5px 10px;
}

#camerasTitledPane .title .arrow {
    -fx-background-color: #2d2d2d;
}

#camerasTitledPane .title .arrow:hover {
    -fx-background-color: #2d2d2d;
}

#camerasTitledPane .content {
    -fx-background-color: #ffffff;
    -fx-padding: 10px;
}

#cameraCoordinatesVBox11 {
    -fx-background-color: #ffffff;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

#cameraCoordinatesVBox11 .button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2d2d2d;
    -fx-font-size: 18px;
    -fx-underline: true;
    -fx-padding: 10px;
}

#cameraCoordinatesVBox11 .text-field {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #2d2d2d;
    -fx-font-size: 14px;
}

#cameraCoordinatesVBox11 .list-view {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2d2d2d;
    -fx-font-size: 14px;
}

#cameraCoordinatesVBox11 .list-view .list-cell {
    -fx-text-fill: #2d2d2d;
    -fx-background-color: #ffffff;
}

#cameraCoordinatesVBox11 .list-view .list-cell:selected {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #ffffff;
}

#cameraCoordinatesVBox11 .button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #2d2d2d;
    -fx-border-width: 0;
    -fx-font-size: 18px;
    -fx-underline: true;
}

#cameraCoordinatesVBox11 HBox {
    -fx-spacing: 10px;
    -fx-background-color: #ffffff;
    -fx-alignment: center;
}

.menu {
    -fx-background-color: E0E0E0;
}

.menu-item {
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
}

.menu-item:hover {
    -fx-background-color: #4c4c4c;
    -fx-text-fill: #000000;
}

.menu-item:selected {
    -fx-text-fill: #000000;
}

.context-menu .menu-item {
    -fx-text-fill: #000000;
}

.context-menu .menu-item:hover {
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #000000;
}

.context-menu .menu-item:selected {
    -fx-background-color: #bdbdbd;
    -fx-text-fill: #000000;
}
